[submodule "Dependencies/MathParser"]
	path = Dependencies/MathParser
	url = https://github.com/Guis99/MathParser
[submodule "Dependencies/QTM"]
	path = Dependencies/QTM
	url = https://github.com/Guis99/QTM
